body{
    width: 100%;
    margin: 0 auto;
}

/******************************** HEADER *************************************/

.logo{
    width: 187px;
    height: 123px;
}

.nav_container{
    display: grid;
    height: 150px;
    background-color: #f9fafc;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.header-search{
    border-radius: 15px;
    height: 35px;
    border-color: #4d6a7c;
}
.header_logo_container{
    grid-column: 1/2;
    grid-row: 1/3;
}

.up-header-block{
    grid-column: 2/4;
    display: grid;
    column-gap: 2em;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
}

.up-header-block{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

.up-header-block img{
    width: 20px;
    height: 20px;
}

.down_header_block{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-items: stretch;
    grid-column: 2/4;
}

.down_header_block a{
    color: #000000;
    text-decoration: none;
}

/******************************** HEADER ********************************************/

/******************************** BANNER *********************************************/

.banner{
    height: 500px;
    background-color: #f5f7f9;
    background-image: url(../images/banner-backgorund.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
}

.banner-block{
    padding-top: 50px;
    height: 466px;
}

.banner-block button{
    margin-top: 60px;
}

.banner h1{
    font-size: 36pt;
    overflow: hidden;
}

/******************************** BANNER  *******************************************/

/******************************** SERVICES ******************************************/

.services{
    display: grid;
    height: 530px;
    grid-template-columns: 50% 50%;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.service_block{
    display: grid;
    grid-template-columns: 50% 50%;
}

.service_block_element img{
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

/******************************** SERVICES ******************************************/

/******************************** ABOUT COMPANY *************************************/

.about-company{
    height: 420px;
    background-color: #f4f6f9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    padding-right: 50px;
}

.about-company h2{
    color: #376f9e;
    font-size: 32pt;
}

.block-with-video{
    display: grid;
    align-items: center;
    justify-content: center;
}

/******************************** ABOUT COMPANY *************************************/

/******************************** INFOGRAPHICS **************************************/

.infographics{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    height: 480px;
    background-color: #376f9e;
    color: #ffffff;
}

.infographics-element-logo{
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    justify-content: center;
    align-items: center;
}

.infographics-digit-right{
    display: block;
    width: 100%;
    text-align: right;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 52pt;
}

.infographics-digit-left{
    display: block;
    width: 100%;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 0;
    font-size: 52pt;
}

.infographics-text-left{
    text-align: left;
}

.infographics-text-right{
    text-align: right;
}

/******************************** INFOGRAPHICS ************************************************/

/********************************* CONSULTATION ***********************************************/
 
.consultation{
    height: 170px;
    background-color: #f4f6f9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 50px;    
    padding-right: 50px;
}

.consultation img{
    height: 170px;
    width: 100%;
}

.consultation-h2{
    font-size: 18pt;
}

.consultation-text-up{
    margin-bottom: 0;
    margin-bottom: 0;
}

.consultation-text-middle{
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.consultation-text-down{
    margin-top: 0;
    margin-top: 0;
}

.consultation-block{
    padding-top: 30px;
    padding-left: 20px;
}

.consultation-block-with-button{
    background-image: url(../images/consultation-logo.png);
    background-position: bottom;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;

}

/********************************* CONSULTATION ***********************************************/

/********************************* NEWS *******************************************************/

.news-container{
    display: grid;
    background-color: #ffffff;
    grid-auto-rows: minmax(50px, auto);
    padding-left: 50px;
    padding-right: 50px;
}

.news-container a{
    text-decoration: none;
    color: #4e6c7e;
    border: 2px solid #4c697b;
    padding: 10px;
    height: 20px;
    text-align: center;
    justify-content: center;
}

.news-all-news-link{
display: grid;
align-content: center;
justify-content: center;
}

.news-container h2{
    color: #376f9e;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 28pt;
}

.news-blocks-container{
    display: grid;
    column-gap: 3em;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.news-dates{
    color: #bfbfbf;
    font-size: 9pt;
}

/********************************* NEWS *******************************************************/

/********************************* FINANCIAL SCHOOL ********************************************/

.financial-school{
    display: grid;
    background-color: #f4f6f9;
    height: 600px;
}

.financial-school p{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.financial-school h3{
    margin-bottom: 0;
    padding-bottom: 0;
}

.arrow{
    float: right;
    margin-bottom: 3px;
}

.school-banner{
    grid-column: 1/2;
    background-image: url(../images/finance-school-logo.png);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: bottom;
    padding-left: 50px;
    padding-right: 50px;    
}

.school-banner button{
    margin-top: 60px;
}

.school-banner h2{
    font-size: 30pt;
    padding-bottom: 0;
    margin-bottom: 0;
}

.scool-news-container{
    grid-column: 2/3;
    display: grid;
    align-content: space-around;
}

.school-news-block{
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 15px;
    background-color: #ffffff;
}

/********************************* FINANCIAL SCHOOL ********************************************/

/********************************* CONFERENCES *************************************************/

.conferences{
    height: 432px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
    margin-left: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.conferences-block img{
    margin-left: 20px;
    margin-top: 20px;
    width: 70%;
    height: 80%;
}

.conferences h2{
    color: #376f9e;
    font-size: 32pt;
    padding-bottom: 0;
    margin-bottom: 0;
}

.conferences button{
    background-color: #376f9e;
}

/********************************* CONFERENCES *************************************************/

/********************************* SUBSCRIBERS *************************************************/

.subscribe-container{
    height: 160px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #376f9e;
}

.subscribe-container h3{
    padding: 0px;
    margin: 0px;
    font-size: 18pt;
    color: #ffffff;
}

.subscribe-block{
    display: grid;
    padding-top: 5px;
    padding-left: 50px;
    padding-right: 50px;
}

.subscribe-block-2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.subscribe-block-2 input{
    width: 300px;
    height: 30px;
}

.subscribe-container p{
    color: #ffffff;
}

.footer-bootom{
    height: 48px;
}

.footer-bootom p{
    text-align: center;
}

/********************************* SUBSCRIBERS *************************************************/

/********************* FONTS ******************************************************************/

.font-montserrat{
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.font-montserrat-extra-bold{
    font-family: Montserrat, sans-serif;
    font-weight: 800;
}

.font-montserrat-light{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.font-montserrat-light{
    font-family: Montserrat, sans-serif;
    font-weight: 300;
}

.font-montserrat-extra-light{
    font-family: Montserrat, sans-serif;
    font-weight: 200;
}

.font-montserrat-bold{
    font-family: Montserrat, sans-serif;
    font-weight: 700;
}

.font-montserrat-semi-bold{
    font-family: Montserrat, sans-serif;
    font-weight: 600;
}

/********************* FONTS ******************************************************/

/********************* BUTTONS *****************************************************/

.blue-button-with-white-text{
    height: 50px;
    width: 230px;
    background-color: #376f9e;
    color: #ffffffff;
    border: none;
    border-radius: 25px;
    font-size: 12pt;
}

.blue-button-with-white-text-border{
    height: 50px;
    width: 230px;
    background-color: #376f9e;
    color: #ffffffff;
    border: 5px solid #ffffff;
    border-radius: 25px;
    font-size: 12pt;
}